
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quyền không được cấp </title>
</head>
<body>
    <div> 
        <h1 style="color:red">Không đủ quền truy cập</h1>
        <h3>@Html.ActionLink("Trở về","Home","Clience")</h3>
    </div>
</body>
</html>
